.destination-map-image-feather {
  mask-image:
    linear-gradient(to right, transparent, black 7%, black 93%, transparent),
    linear-gradient(to bottom, transparent, black 8%, black 92%, transparent);
  mask-composite: intersect;
  -webkit-mask-image:
    linear-gradient(to right, transparent, black 7%, black 93%, transparent),
    linear-gradient(to bottom, transparent, black 8%, black 92%, transparent);
  -webkit-mask-composite: source-in;
}
